body {
    background: url("images/Scales.png");
}
p {
    margin: 0px;
}
.mt-10 {
    padding: 30px;
}
.container {
    background-color: white;
    padding: 0px 30px;
    text-align: justify;
    overflow: auto;
}
.formBody {
    margin-left: 20%;
    margin-right: 20%;
}
.formContainer {
    margin: 104.5px auto;
    width: 100%;
    background-color: white;
    padding: 20px 30px;
    /* box-sizing: border-box; */
    display: block;
}
.navbar-expand-lg {
    background-color: gray;
}
.media {
    margin: 75px 0px 75px 0px;
}
img {
    margin: 30px 20px 15px 0px;
    max-width: 100%;
    height: auto;
    float: left;
}
.foot {
    background-color: gray;
    text-align: center;
    border-top: #5d1848 10px solid;
    padding: 10px;
    color: white;
}