body {
    background: url("images/Scales.png");
}
p {
    margin: 0px;
}
.mt-10 {
    padding: 30px;
}
.container {
    background-color: white;
    padding: 0px 30px;
    text-align: justify;
}
.navbar-expand-lg {
    background-color: gray;
}
.media {
    margin: 75px 0px 75px 0px;
}
img {
    margin: 30px 20px 15px 0px;
    max-width: 100%;
    height: auto;
    float: left;
}
.foot {
    background-color: gray;
    text-align: center;
    border-top: teal 10px solid;
    padding: 10px;
    color: white;
}