.navbar-expand-lg {
    margin: 0px 15%;
    background-color: gray;
}
.media {
    margin: 75px 75px;
    width: 960px;
}
img {
    margin: 50px;
}
.foot {
    background-color: gray;
    text-align: center;
    border-top: teal 10px solid;
    padding: 10px;
    color: white;
}